# Nextflow work directories and logs
work/
.nextflow/
.nextflow.log*
.nextflow.log

# Pipeline results (large data files)
results/

#inputs
idats/
h3a_output/

./all_6_epic.csv
./ID_map.csv




meffil-master/
