profiles {
    local {
        process {
            executor = 'local'
            shell = '/bin/bash'
            conda = true
            
            withName: 'GROUP_BY_PLATE' {
                cpus = 1
                memory = '4 GB'
            }
            
            withName: 'CREATE_SAMPLESHEETS' {
                cpus = 1
                memory = '2 GB'
            }
            
            withName: 'PLATE_QC' {
                cpus = 4
                memory = '16 GB'
            }
            
            withName: 'PLATE_NORMALIZE' {
                cpus = 1  // Use 1 core to avoid pthread errors
                memory = '32 GB'
                // Don't set threading environment variables - let R handle it
            }
            
            withName: 'MERGE_PLATES' {
                cpus = 4
                memory = '16 GB'
            }
        }
        
        conda {
            enabled = true
            cacheDir = "${HOME}/.conda/envs"
        }
    }
}
